.albumInfo-card{
    margin-top: 20px;
}

.albumInfo-card p {
    margin: 5px auto !important;
}

.albumName-container{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.album-info{
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.album-release{
    font-size: 12px;
    font-weight: 400;
    color: white;
}